page-sign-up {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    ion-header {
        .toolbar {
          .toolbar-background {
            background-color: #33658A;
          }
          color: #FFFFFF;

        }
      }

      ion-header ion-icon.back-button-icon.icon {
        color: map-get($colors, white-color);
    }
    .form-style{
        background-color: #86BBD8;
    }
    .submit-button{
        background-color: #2F4858;
    }
}
