page-song {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    ion-header {
        .toolbar {
          position: absolute;
      
          .toolbar-background {
            background: transparent;
          }
          .toolbar-title {
            color: black;
          }
        }
      }
      body {
        margin: 0;
        overflow: hidden;
      }
      
      .background {
        width: 100vw;
        height: 100vh;
        background: #86BBD8;
      }
      
      $particleSize: 20vmin;
      $animationDuration: 6s;
      $amount: 20;
      .background span {
        width: $particleSize;
        height: $particleSize;
        border-radius: $particleSize;
        backface-visibility: hidden;
        position: absolute;
        animation-name: move;
        animation-duration: $animationDuration;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        $colors: (
          #E5E1EE,
          #DFFDFF,
          #114B5F,
          #90F3FF
        );
        @for $i from 1 through $amount {
          &:nth-child(#{$i}) {
            color: nth($colors, random(length($colors)));
            top: random(100) * 1%;
            left: random(100) * 1%;
            animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
            animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
            transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
            $blurRadius: (random() + 0.5) * $particleSize * 0.5;
            $x: if(random() > 0.5, -1, 1);
            box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
          }
        }
      }
      
      @keyframes move {
        100% {
          transform: translate3d(0, 0, 1px) rotate(360deg);
        }
      }

      .song-name{
        text-align: center;
        font-size: 1.75cm;
      }
      .song-artist{
        text-align: center;
        font-size: 0.75cm;
      }
      .song-album{
        text-align: center;
        font-size: 1.25cm;
      }
      .song-genre{
        text-align: center;
        font-size: 0.5cm;
      }
      .song-rd{
        text-align: center;
        font-size: 0.75cm;
      }
      .form-style{
        background-color: #86BBD8;
    }
    .submit-button{
        background-color: #2F4858;
    }
}
